body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.markdown span {
  color: #000;
  font-size: 18px;
  line-height: 28px;
  opacity: .84;
}

.markdown p {
  margin: 0;
}

.markdown blockquote {
  margin: 0 0 6px 30px;
}

.markdown blockquote p {
  margin: 0;
}

.markdown hr {
  visibility: hidden;
}
